.appendices-list-element {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 0 1rem 0 1rem;
}

.togglable {
    cursor: pointer;
}

.appendix-content {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

label {
    font-weight: bold;
}

.appendix-item {
    text-align: center;
}
