.dicom-images-list-element {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 0 1rem 0 1rem;
    background-color: #f3f3f3;
}

.title {
    display: flex;
    justify-content: space-between;
}

.togglable {
    cursor: pointer;
}

.image-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

label {
    font-weight: bold;
}

.image-item {
    text-align: left;
}

#consent-checkbox {
    margin-top: 4px;
}
