.dicom-categories-list-element {
    border: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 0 1rem 0 1rem;
    margin-bottom: 1rem;
    background-color: #d7d7d7;
}

.togglable {
    cursor: pointer;
    height: auto;
}

.list-content {
    padding-bottom: 1rem;
}
